.todo-list {
  &__title {
    margin: 13px 0 58px 59px;

    font-family: "Monda", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 156px;
    letter-spacing: 0.1em;

    color: #ffffff;
  }
}
